# Adding, Deleting Columns and  Rows

This is an introduction to adding Columns and Rows to a DataFrame. Not all methods are covered.

Execute cell below to set up this notebook.

In [5]:
import numpy as np
import pandas as pd
df = pd.read_csv("./iris-data.csv", header= -1, index_col = 2)
df

       0    1    3                4
2
1.4  5.1  3.5  0.2      Iris-setosa
1.4  4.9  3.0  0.2      Iris-setosa
4.7  7.0  3.2  1.4  Iris-versicolor
4.5  6.4  3.2  1.5  Iris-versicolor
6.0  6.3  3.3  2.5   Iris-virginica
5.1  5.8  2.7  1.9   Iris-virginica

## Working with Columns

In [ ]:
Collector = ['d1', 'a1', 'd2', 'a2', 'd3', 'a3']
df.loc[:,'Collector'] = Collector
df

* You can also use `df['Collector'] = Collector`.
* A missing row value is an error

Execute the cell below to find out the preferred method of drop columns or rows.

In [ ]:
help(df.drop)

In [ ]:
df.drop('Collector', axis=1, inplace=True)
df

* axis
    - 0 means drop rows
    - 1 means drop column\
* inplace
    - True means change the current df
    - False means create a new data frame

Execute the cell below to find out about the insert command.

In [ ]:
help(df.insert)

In [ ]:
df.insert(0, 'Collector', Collector)
df

* First field is the location to be inserted atâ€”all other columns are pushed to the right
* Second field is the name of the column
* Third field is a list of value to put into the column

In [ ]:
df.loc['sum'] = [ np.NaN, 25, 34, 15, np.NaN, np.NaN]
df

* by using loc (`df.loc[ ]`) you are adding a row to the DataFrame

In [ ]:
df.drop('sum', axis=0, inplace=True)
df

# End of notebook