## LAB 1: ## 

### The aim of this exercise is to gain some experience of working with the Pandas Series data structure.

#### 1.	Define a Series object holding the values 1 to 10.
#### 2.	Display the data values of the Series object defined in Step 1.
#### 3.	Display the index values of the Series object defined in Step 1.
#### 4.	Define a new Series object holding the values 1 to 10, with the corresponding index values set ‘a’ through to ‘j’.
#### 5.	Display the data values and index of the Series object of Step 4.
#### 6.	Access the third and fifth elements of the Series objects using their index.
#### 7.	Define the following dictionary: {'Dublin': 200000, 'Athlone': 15000, 'Galway': 700000}.
#### 8.	Define the following array: ['Dublin', 'Athlone', 'Waterford'].
#### 9.	Now, construct a Series object using the dictionary in Step 7 and the index in Step 8.
#### 10.	Display the Series object defined in Step 9.
#### 11.	Use the Series notnull() and isnull() methods to display which elements are not null and null, respectively, for the Series object defined in Step 9.

<br>
<details><summary>Click for <b>hint</b></summary>
<p>
Use a native Python function instead of enumerating the values 1 - 10 by hand or a numpy function might even be better
<br>
Remember a Python trick that a string can be turned into a list of letters
<br>
Remember numeric indexes are zero based
<br>
<br>
</p>
</details>


<details><summary>Click for <b>code</b></summary>
<p>

```python
import pandas as pd
s1 = pd.Series(range(1,11))
print(s1)
print(s1.index)

import numpy as np
s2 = pd.Series(np.arange(1,11), index=list('abcdefghij'))
print(s2)
print(s2.index)

print(s1[2], s1[4], s2['c'], s2['e'])

d1 = {'Dublin': 200000, 'Athlone': 15000, 'Galway': 700000, 'Belfast':None}
a1 = ['Dublin', 'Athlone', 'Waterford']

s3 = pd.Series(d1, index = a1)
print(s3)

print(s3.isnull(), s3.notnull())
```
</p>
</details>

## LAB 2: ## 

### The aim of this exercise is to gain some experience of working with Pandas DataFrame data structure.

#### 1.	Use the following dictionary to create a DataFrame:
#### a.	{'team':['Leicester', 'Manchester City', 'Arsenal'], 'player':['Vardy', 'Aguero', 'Sanchez'],'goals':[24,22,19]}
#### 2.	Display the above DataFrame to the console.
#### 3.	What values are assigned for the index and columns?
#### 4.	Use the dictionary from Step 1 and create a second DataFrame with index values 'one', 'two', 'three', respectively, and columns team, player, goals, played. Display the DataFrame to the console.

<br>
<details><summary>Click for <b>hint</b></summary>
<p>
Use a native Python function instead of enumerating the values 1 - 10 by hand
<br>
Remember a Python trick that a string can be turned into a list of letters
<br>
Remember numeric indexes are zero based
<br>
<br>
</p>
</details>


<details><summary>Click for <b>code</b></summary>
<p>

```python
import pandas as pd
s1 = pd.Series(range(1,11))
print(s1)
print(s1.index)

s2 = pd.Series(range(1,11), index=list('abcdefghij'))
print(s2)
print(s2.index)

print(s1[2], s1[4], s2['c'], s2['e'])

d1 = {'Dublin': 200000, 'Athlone': 15000, 'Galway': 700000, 'Belfast':None}
a1 = ['Dublin', 'Athlone', 'Waterford']

s3 = pd.Series(d1, index = a1)
print(s3)

print(s3.isnull(), s3.notnull())
```
</p>
</details>

In [0]:
d2 = {'team':['Leicester', 'Manchester City', 'Arsenal'], 'player':['Vardy', 'Aguero', 'Sanchez'],'goals':[24,22,19]}
df1 = pd.DataFrame(d2)
print(df2)

df2 = pd.DataFrame(d2, index=['one','two','three'], columns=['team','player','goals','played'])
print(df2)

## Homework: ## 
#### 1.	Read the file categories.csv. 
#### 2.	Use the first column as the index column for the DataFrame
#### 3.	Print the DataFrame, and the first two elements only of the DataFrame
#### 4. Load the products.json file
#### 5.	Display only the products in category 1
#### 6. Display the products from highest to lowest price
<br>
<details><summary>Click for <b>hint</b></summary>
<p>
Check the parameters for read_csv to make sure you read the column names right and use the proper column for the index column
<br>
Remember there are many functions to pull a slice from a DataFrame so experiment until you find the right one
<br>
The syntax to filter on a condition is odd, but it's in the slides
<br>
There are several functions to sort, so choose the right one to sort on price
<br>
<br>
</p>
</details>

In [0]:
import pandas as pd
categories = pd.read_csv('categories.csv', sep=',', header='infer', index_col=0)
print(categories)
print(categories.loc[1:2])

In [0]:
products = json.loads(open('products.json').read())
products = pd.DataFrame(products)
display(products)

display(products[products['CategoryID'] == 1])

products2 = products.sort_values(by=['UnitPrice'], ascending = False)
display(products2)