## Pandasql

In [0]:
! pip install pandasql

In [0]:
import pandas as pd
import pandasql as ps
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

iris = pd.read_csv('../Day3-Pandas/iris-data-index-column.csv', index_col=0, header=0)
display(iris)

In [0]:
query = 'select upper(Class) as Class, Sepal_Length * 10 as S_Length, Sepal_Width / 10 as S_Width from iris'

iris2 = pysqldf(query)
display(iris2)

## LAB 1: ## 

### There are also some built-in sample datasets that can be used to play around with in pandasql

#### 1.	Use the meat DataFrame below, and find how many records have a null value for the broilers field 
#### 2.	Try to do the same using standard pandas commands

<br>
<details><summary>Click for <b>hint</b></summary>
<p>
For pandasql, use the name of the variable as a table name in the FROM clause
<br>
Use SQL SELECT COUNT and a null test in the WHERE clause
<br>
For standard pandas, get the Series for the broilers column using [] notation
<br>
Use isnull() method to get a Series of True/False for the rows that are null
<br>
Use that to get just the rows from the DataFrame that are null
<br>
Use the len() function to see how many there are
<br>
<br>
</p>
</details>


<details><summary>Click for <b>code</b></summary>
<p>

```python
import pandasql as ps
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

meat = ps.load_meat()
#display(meat)

print(pysqldf('select count(*) from meat where broilers is null'))

print(len(meat['broilers'][meat['broilers'].isnull()]))

```
</p>
</details>

In [0]:
import pandasql as ps
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

meat = ps.load_meat()
display(meat)

## Central Tendency
Pandas is a module that contains the DataFrame object.
Here we are looking at the three measures of central tendency and the count of how many objects in the DataFrame.
Then we show each unique value and how many times it occurs.

In [0]:
import pandas as pd
df = pd.DataFrame([9,10,10,11,11,11,12,12,12,13,13,13,13,14], columns=['Age'])

print("Mean", df.Age.mean(), "Median", df.Age.median(), "Mode", df.Age.mode()[0], "Count", df.Age.count())
print(df.Age.value_counts())

## LAB 2: ## 

### Find the three central tendencies for beef in the meat DataFrame
<br>
<details><summary>Click for <b>hint</b></summary>
<p>
Try to use . syntax and [] syntax as alternatives to get the beef column
<br>
Remember mode is trickier, try using both mode and value_counts to make sure you understand how to get the mode
<br>
Of the three central tendencies, which makes the most sense to use in this case?
<br>
<br>
</p>
</details>


<details><summary>Click for <b>code</b></summary>
<p>

```python
print(meat.beef.mean(), meat['beef'].median(), meat.beef.mode()[0])
print(meat['beef'].mode())
print(meat.beef.value_counts())

```
</p>
</details>

## Plotting
We can visualize what the data looks like with a number of different plots.
Boxplots are useful to see the big picture on a series of numbers.
We can see min, max, mean, and the inter quartile range.

## Box Plot
Shows the minimum, maximum, mean, and inter quartile range.

In [0]:
%matplotlib inline
import matplotlib as mp
from matplotlib import pyplot as plt
plt.ylim(8,15)
df.boxplot()

## Histogram
Good for looking at how many items fall within a range.

In [0]:
%matplotlib inline
import numpy as np
df = pd.DataFrame(np.random.rand(253, 1) * 254, columns=['col1'])
df.hist(histtype='bar', ec='black')

## Bar Chart
Useful for seeing how many items are in each category.

In [0]:
df = pd.DataFrame([('Male', 10),('Male', 11), ('Female', 11), ('Female', 12), ('Female', 12)], columns=['Gender','Age'])
x = df.groupby('Gender').count()
print(x)
x.plot(kind='bar')

## LAB 3: ## 

### Create a boxplot to compare beef, veal, and pork
### Run a histogram on the same three
<br>
<details><summary>Click for <b>hint</b></summary>
<p>
Select the three columns from meat using the [[]] syntax 
<br>
Run a boxplot method on the DataFrame of three columns
<br>
<br>
</p>
</details>


<details><summary>Click for <b>code</b></summary>
<p>

```python
%matplotlib inline
somemeat = meat[['beef', 'veal', 'pork']]
somemeat.boxplot()

somemeat.hist(histtype='bar', ec='black')

```
</p>
</details>

In [0]:
%matplotlib inline
somemeat = meat[['beef', 'veal', 'pork']]
somemeat.boxplot()

somemeat.hist(histtype='bar', ec='black')

## Replacing Null Values with the Central Tendency

In [0]:
import pandas as pd
fatal = pd.read_csv('2012_Workplace_Fatalities_by_State.csv')
print(fatal.columns)
fatal.columns = ['State', 'NumberOfFatalities', 'RateOfFatalities', 'StateRank', 'NumberOfInjuries', 'InjuriesRate', 'PenaltiesAvg', 'PenaltiesRank', 'Inspectors', 'YearsToInspectEachWorkplaceOnce', 'StateFederal']
print(fatal.PenaltiesRank.mean())
print(fatal.PenaltiesRank[48:])
print(fatal.PenaltiesRank[48:].isnull())
fatal.PenaltiesRank = fatal.PenaltiesRank.fillna(fatal.PenaltiesRank.mean())
print(fatal.PenaltiesRank[48:])
fatal.dropna(axis = 0, inplace = True)
print(fatal.shape)

## LAB 4: ## 

### Calculate the central tendency for broilers
### Replace the null values for broilers with that central tendency
<br>
<details><summary>Click for <b>hint</b></summary>
<p>
Use mean for the central tendency
<br>
Use fillna to replace the null values for broilers. Try it with inplace False first, then True to see the different syntax
<br>
<br>
</p>
</details>


<details><summary>Click for <b>code</b></summary>
<p>

```python
meat = ps.load_meat()
broilersct = meat.broilers.mean()
print(broilersct)
display(meat)
meat2 = meat.broilers.fillna(broilersct, inplace = False)
display(meat)
display(meat2)
meat.broilers = meat2
display(meat)

meat = ps.load_meat()
meat.broilers.fillna(meat.broilers.mean(), inplace = True)
display(meat)
```
</p>
</details>

### Now suppose you want to do that for several columns. Let's use the apply function to run the fillna function on each column

In [0]:
meat = ps.load_meat()
cols = ['beef', 'veal', 'pork', 'lamb_and_mutton', 'broilers', 'other_chicken', 'turkey']
meat[cols] = meat[cols].apply(lambda x : x.fillna(x.mean()))
display(meat)

## Add and Remove Columns to a DataFrame

In [0]:
print(fatal.columns)
fatal.insert(11, 'ProgramType', pd.Categorical(fatal['StateFederal']).codes)
print(fatal[['ProgramType', 'StateFederal']][:5])
fatal.drop(['StateFederal'], axis=1, inplace=True)
print(fatal.columns)

## Change Data Type

In [0]:
print(fatal.NumberOfFatalities[48:])
fatal.NumberOfFatalities = fatal.NumberOfFatalities.fillna(0).astype(int)
print(fatal.NumberOfFatalities[48:])

## Rescale Data

In [0]:
from sklearn import preprocessing as pp
x = fatal.NumberOfFatalities.astype(float)
print(x.mean(), x.std(), x.min(), x.max())
print(x[10:15])
print(pp.scale(x, with_mean = False, with_std = False)[10:15])
print(pp.scale(x, with_mean = True, with_std = False)[10:15])
print(pp.scale(x, with_mean = False, with_std = True)[10:15])
print(pp.scale(x, with_mean = True, with_std = True)[10:15])
print(pp.scale(x, with_mean = True, with_std = True)[10:15])

r = pp.scale(x, with_mean = True, with_std = True)
fatal.NumberOfFatalities = r
print('rescaled', fatal.NumberOfFatalities[10:15])

## LAB 5: ## 

### Right after the last lab, we used the apply function to replace null values for each column with the central tendency of that column. Using a similar technique, see if you can rescale those same columns centered around the mean and std.
<br>
<details><summary>Click for <b>hint</b></summary>
<p>
Use apply and a lambda to that uses pp.scale
<br>
<br>
</p>
</details>
<details><summary>Click for <b>code</b></summary>
<p>

```python
from sklearn import preprocessing as pp
meat = ps.load_meat()
cols = ['beef', 'veal', 'pork', 'lamb_and_mutton', 'broilers', 'other_chicken', 'turkey']
meat[cols] = meat[cols].apply(lambda x : x.fillna(x.mean()))
meat[cols] = meat[cols].apply(lambda x : pp.scale(x, with_mean = True, with_std = True))

display(meat)
```
</p>
</details>

In [0]:
from sklearn import preprocessing as pp
meat = ps.load_meat()
cols = ['beef', 'veal', 'pork', 'lamb_and_mutton', 'broilers', 'other_chicken', 'turkey']
meat[cols] = meat[cols].apply(lambda x : x.fillna(x.mean()))

display(meat)

## Concat Data

In [0]:
df1 = pd.DataFrame([('Male', 10),('Male', 11), ('Female', 11), ('Female', 12), ('Female', 12)], columns=['Gender','Age'])
df2 = pd.DataFrame([('Male', 20),('Male', 21), ('Female', 21), ('Female', 22)], columns=['Gender','Age'])
df = pd.concat([df1, df2])
print(df)
df3 = pd.DataFrame([('John', 'Smith'), ('Joe','Average'), ('Jane', 'Doe'), ('Jill', 'Hill')], columns = ['First', 'Last'])
df = pd.concat([df1, df3], axis = 1)
print(df)

## Merge or Join DataFrames

In [0]:
person_data = {
        'id': ['1', '2', '3', '4', '5'],
        'first_name': ['John', 'Sue', 'Jack', 'Alice', 'Joe'], 
        'last_name': ['Smith', 'Miller', 'Sprat', 'Wonderland', 'Blow']}
df1 = pd.DataFrame(person_data, columns = ['id', 'first_name', 'last_name'])

skill_data = {
    'id' : ['1', '1', '2', '3', '3', '3', '5', '6'],
    'skill' : ['C++', 'Java', 'Java', 'C++', 'Java', 'Python', 'Python', 'Java']
}
df2 = pd.DataFrame(skill_data, columns = ['id', 'skill'])

print(pd.merge(df1, df2, on = 'id'))
print(pd.merge(df1, df2, how = 'left' ))

## Convert Categorical Data

In [0]:
person_data = { 'id': ['1', '2', '3', '4', '5'],       
     'first_name': ['John', 'Sue', 'Jack', 'Alice', 'Joe'],        
     'status': ['Active', 'Active', 'Pending', 'Cancelled', 'Cancelled']}
df1 = pd.DataFrame(person_data, columns = ['id', 'first_name', 'status'])
print(df1)
df1.status = pd.Categorical(df1.status).codes
print(df1)

## Dummy Encoded

In [0]:
person_data = { 'id': ['1', '2', '3', '4', '5'],       
     'first_name': ['John', 'Sue', 'Jack', 'Alice', 'Joe'],        
     'status': ['Active', 'Active', 'Pending', 'Cancelled', 'Cancelled']}
df1 = pd.DataFrame(person_data, columns = ['id', 'first_name', 'status'])
print(df1)

dummies = pd.get_dummies(df1.status, drop_first = True)
df2 = pd.concat([df1[['id','first_name']], dummies], axis = 1)
print(df2)

dummies = pd.get_dummies(df1.status, drop_first = False)
df3 = pd.concat([df1[['id','first_name']], dummies], axis = 1)
print(df3)

## Split Data into Train and Test Sets

In [0]:
print ('Split 1')
train = fatal.sample(frac=0.8,random_state=200)
test = fatal[~fatal.index.isin(train.index)]
x0 = fatal.ProgramType
x1 = train.ProgramType
x2 = test.ProgramType

print(x0.value_counts()/x0.count())
print(x1.value_counts()/x1.count())
print(x2.value_counts()/x2.count())
print(fatal.shape, train.shape, test.shape)

from sklearn.model_selection import train_test_split
print ('Split 2')
train, test = train_test_split(fatal, test_size=0.2)
x0 = fatal.ProgramType
x1 = train.ProgramType
x2 = test.ProgramType
print(x0.value_counts()/x0.count())
print(x1.value_counts()/x1.count())
print(x2.value_counts()/x2.count())
print(fatal.shape, train.shape, test.shape)

## LAB 6: ## 

### Split the meat DataFrame into a 70/30 split
<br>
<details><summary>Click for <b>hint</b></summary>
<p>
Use train_test_split, it's way easier
<br>
<br>
</p>
</details>
<details><summary>Click for <b>code</b></summary>
<p>

```python
from sklearn.model_selection import train_test_split
meatTrain, meatTest = train_test_split(meat, test_size = 0.3)
print(len(meatTrain), len(meatTest))
```
</p>
</details>

### Natural Language Processing

In [0]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer 

DIR = 'text'

def corpus_from_dir(folder):
    import os
    ret = dict(docs = [open(os.path.join(folder,f)).read() for f in os.listdir(folder)],
               ColNames = map(lambda x: x.split('.')[0], os.listdir(folder)))
    return ret

def tdm_df(docs, colNames = None, **kwargs):

    #initialize the  vectorizer
    vectorizer = CountVectorizer(**kwargs)
    x1 = vectorizer.fit_transform(docs)
    #create dataFrame
    df = pd.DataFrame(x1.toarray().transpose(), index = vectorizer.get_feature_names())
    if colNames is not None:
        df.columns = colNames

    return df

corpus = corpus_from_dir(DIR)
print(corpus)
df = tdm_df(docs = corpus['docs'], colNames = corpus['ColNames'], stop_words = 'english')  
print(df)

## Homework: ## 

### Load the sales.csv file found in Day4
### Replace the nulls with the means and rescale the numeric columns 
### Add a column for a numeric encoded version of color
### Add a series of dummy coded columns for color
<br>
<details><summary>Click for <b>hint</b></summary>
<p>
Import the correct package to do rescaling
<br>
Remember to add a new column you can't use property or dot syntax to refer to a column
<br>
Remember to add Dummy Coded values you are adding more than one column so you need another method to add them to the DataFrame
<br>
<br>
</p>
</details>

In [2]:
import pandas as pd
sales = pd.read_csv('sales.csv', index_col=0, header=0)
display(sales)

from sklearn import preprocessing as pp
cols = ['cost', 'sales']
sales[cols] = sales[cols].apply(lambda x : x.fillna(x.mean()))
sales[cols] = sales[cols].apply(lambda x : pp.scale(x, with_mean = True, with_std = True))
sales['colorcode'] = pd.Categorical(sales.color).codes
dummies = pd.get_dummies(sales.color, drop_first = False)
sales = pd.concat([sales, dummies], axis = 1)
display(sales)

      first_name      cost     sales       color
id
1        Shannen  59068.01       NaN      Violet
2       Courtney  67602.69  39957.38      Maroon
3         Brnaba  14718.81  39549.08   Goldenrod
4        Benoite  48541.92  11707.84        Mauv
5           Tann  84484.49  82582.85      Orange
6        Alister   3410.66  70049.02        Mauv
7       Christal  39759.07  53680.02        Blue
8         Briano  73715.33  21048.40       Green
9         Arleen       NaN       NaN       Green
10        Ailene  57098.48  10771.30      Indigo
11      Teresita  54339.90  26372.72  Aquamarine
12          Port  38582.74  45116.30   Turquoise
13       Garrett  77316.93  81331.76        Teal
14        Dalton       NaN       NaN     Crimson
15          Kala  63497.39  57887.67  Aquamarine
16        Aubrie  73735.73  27999.49   Goldenrod
17           Kit  68282.80       NaN      Yellow
18         Ignaz  70764.84  30194.50         Red
19         Myrah  79676.56   6127.52      Yellow
20         Allen  81461.11       NaN      Indigo
21      Cristina  56393.80   2316.51     Crimson
22        Shawna  54508.59  99140.19      Fuscia
23     Milissent  70730.43  91265.01      Purple
24      Ruprecht   5613.18   7993.95      Yellow
25        Joelly  76256.82  30672.20       Green
26          Jenn  54183.20  37429.00       Khaki
27        Minnie  57366.39   8372.44   Goldenrod
28           Kit  47932.91  64941.78         Red
29        Willis  69410.98       NaN   Turquoise
30         Tobye  63978.66   6443.15         Red
...          ...       ...       ...         ...
971      Ailbert  49632.19  63452.93   Turquoise
972        Jandy   7882.51  23010.43        Blue
973        Marga       NaN  32912.40   Turquoise
974     Chrystal   1610.85       NaN     Crimson
975   Marguerite  91999.68  27869.79      Yellow
976        Randy  85980.43   5509.72         Red
977    Sigismund  51295.53       NaN  Aquamarine
978        Filip       NaN   3174.33         Red
979       Conrad  40147.49  42123.21     Crimson
980         Sara  36089.59  58944.82        Mauv
981      Brandtr  61943.51  26448.00        Puce
982       Fayina  16513.87  88700.57      Violet
983     Corrinne  90064.85   1082.93       Khaki
984     Katheryn  64649.27  12661.87     Crimson
985         Jock  87431.87  90195.06       Green
986          Wes  95337.30  96440.00        Blue
987       Kelley   5225.02  52253.18  Aquamarine
988      Auberta  47830.57  32890.35      Fuscia
989      Averell  52976.80  57720.72   Turquoise
990     Starlene       NaN   4782.32        Blue
991       Blaire  26587.60       NaN      Orange
992     Bradford  15485.04  88325.20  Aquamarine
993       Karlee  54661.83  33230.86        Blue
994       Ofella  52792.97  87572.69        Mauv
995     Devondra  76333.28  34044.93   Goldenrod
996      Teressa   1522.31       NaN         Red
997     Elsworth   8297.47  28545.21  Aquamarine
998         Rudd  44504.04  14197.60        Puce
999         Elyn  76248.92  94552.39        Teal
1000        Myca   3653.88  54160.22        Blue

[1000 rows x 4 columns]

,first_name,cost,sales,color,colorcode,Aquamarine,Blue,Crimson,Fuscia,Goldenrod,...,Mauv,Orange,Pink,Puce,Purple,Red,Teal,Turquoise,Violet,Yellow
id,,,,,,,,,,,,,,,,,,,,,
1,Shannen,3.613966e-01,-2.278676e-15,Violet,17,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,Courtney,6.726834e-01,-4.125130e-01,Maroon,8,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Brnaba,-1.256159e+00,-4.284969e-01,Goldenrod,4,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,Benoite,-2.252320e-02,-1.518408e+00,Mauv,9,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
5,Tann,1.288416e+00,1.256161e+00,Orange,10,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
6,Alister,-1.668603e+00,7.654952e-01,Mauv,9,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
7,Christal,-3.428615e-01,1.246921e-01,Blue,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Briano,8.956307e-01,-1.152750e+00,Green,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Arleen,-7.961316e-16,-2.278676e-15,Green,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Ailene,2.895616e-01,-1.555071e+00,Indigo,6,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Teresita,1.889475e-01,-9.443166e-01,Aquamarine,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,Port,-3.857660e-01,-2.105549e-01,Turquoise,16,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
13,Garrett,1.026992e+00,1.207185e+00,Teal,15,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
14,Dalton,-7.961316e-16,-2.278676e-15,Crimson,2,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
15,Kala,5.229501e-01,2.894104e-01,Aquamarine,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,Aubrie,8.963748e-01,-8.806328e-01,Goldenrod,4,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
17,Kit,6.974892e-01,-2.278676e-15,Yellow,18,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
18,Ignaz,7.880170e-01,-7.947040e-01,Red,14,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
19,Myrah,1.113056e+00,-1.736863e+00,Yellow,18,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20,Allen,1.178144e+00,-2.278676e-15,Indigo,6,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,Cristina,2.638597e-01,-1.886054e+00,Crimson,2,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
22,Shawna,1.951001e-01,1.904338e+00,Fuscia,3,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
23,Milissent,7.867620e-01,1.596045e+00,Purple,13,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
24,Ruprecht,-1.588270e+00,-1.663797e+00,Yellow,18,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
25,Joelly,9.883269e-01,-7.760033e-01,Green,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,Jenn,1.832321e-01,-5.114924e-01,Khaki,7,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,Minnie,2.993331e-01,-1.648980e+00,Goldenrod,4,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
28,Kit,-4.473573e-02,5.655602e-01,Red,14,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
29,Willis,7.386375e-01,-2.278676e-15,Turquoise,16,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
30,Tobye,5.405036e-01,-1.724507e+00,Red,14,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,Ailbert,1.724239e-02,5.072757e-01,Turquoise,16,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
972,Jandy,-1.505501e+00,-1.075941e+00,Blue,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
973,Marga,-7.961316e-16,-6.883054e-01,Turquoise,16,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
974,Chrystal,-1.734248e+00,-2.278676e-15,Crimson,2,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
975,Marguerite,1.562519e+00,-8.857102e-01,Yellow,18,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
976,Randy,1.342978e+00,-1.761048e+00,Red,14,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
977,Sigismund,7.790967e-02,-2.278676e-15,Aquamarine,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
978,Filip,-7.961316e-16,-1.852472e+00,Red,14,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
979,Conrad,-3.286946e-01,-3.277265e-01,Crimson,2,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
980,Sara,-4.766991e-01,3.307951e-01,Mauv,9,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
981,Brandtr,4.662752e-01,-9.413695e-01,Puce,12,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
982,Fayina,-1.190688e+00,1.495654e+00,Violet,17,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
983,Corrinne,1.491949e+00,-1.934345e+00,Khaki,7,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
984,Katheryn,5.649628e-01,-1.481060e+00,Crimson,2,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
985,Jock,1.395916e+00,1.554159e+00,Green,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
986,Wes,1.684252e+00,1.798632e+00,Blue,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
987,Kelley,-1.602428e+00,6.883505e-02,Aquamarine,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
988,Auberta,-4.846839e-02,-6.891686e-01,Fuscia,3,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
989,Averell,1.392309e-01,2.828748e-01,Turquoise,16,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
990,Starlene,-7.961316e-16,-1.789524e+00,Blue,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
991,Blaire,-8.232667e-01,-2.278676e-15,Orange,10,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
992,Bradford,-1.228212e+00,1.480959e+00,Aquamarine,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
993,Karlee,2.006893e-01,-6.758385e-01,Blue,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
994,Ofella,1.325260e-01,1.451501e+00,Mauv,9,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
995,Devondra,9.911156e-01,-6.439698e-01,Goldenrod,4,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
996,Teressa,-1.737477e+00,-2.278676e-15,Red,14,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
997,Elsworth,-1.490366e+00,-8.592693e-01,Aquamarine,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,Rudd,-1.697975e-01,-1.420940e+00,Puce,12,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
999,Elyn,9.880388e-01,1.724737e+00,Teal,15,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1000,Myca,-1.659732e+00,1.434906e-01,Blue,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0