In [ ]:
name = 'Alice'
print(type(name))
age = 21
print(type(age))
amount = 123.45
print(type(amount))
active = True
print(type(active))

from datetime import datetime, date
, strptime
birthdate = date(2020, 1, 23)
print(birthdate, type(birthdate))

orderdate = datetime(2020, 1, 23, 13, 30, 15)
print(orderdate, type(orderdate))

date1 = datetime.strptime('2020/02/03', '%Y/%m/%d')
print(date1)

In [ ]:
numbers = [4, 2, 10, 12, 3, 7, 12]
numbers.append(20)
numbers[0] = 5
print(numbers)
numbers.pop()
print(numbers)
print(numbers[2:])
print(numbers[:2])
print(numbers[2:-2])

In [ ]:
numbers = {3, 2, 1, 1, 4, 5, 6, 3}
print(numbers)

others = {1, 4, 7}
print(numbers.intersection(others))
print(numbers.difference(others))
print(numbers.union(others))

numbers2 = set(numbers)
print(numbers2)

In [ ]:
record = {'firstname':'Adam', 'lastname':'Smith', 'age':50}
print(record['firstname'])
record['lastname'] = 'Jones'
record['gender'] = 'M'
print(record.keys())
print(record.values())
print(record.items())
del record['gender']

In [ ]:
print([x * 2 for x in [1, 2, 3, 4]])
print([x for x in [1, 2, 3, 4, 4] if x % 2 == 0])

## LAB: ## 
### Using the numbers list we created above, multiply each number by 2.
### Next only multiply the numbers less than 10 by 2
<br>
<details><summary>Click for <b>hint</b></summary>
<p>
Try writing the for part first and use a simple name for the range variable that takes on each value one at a time
<br>
Put the calculation using the range variable in front of the for
<br>
If clause follows the for clause and can be used to make a conditional like a WHERE clause does in SQL
<br>
<br>
</p>
</details>

<details><summary>Click for <b>code</b></summary>
<p>

```python
print([n * 2 for n in numbers])
print([n * 2 for n in numbers if n < 10])
```
</p>
</details>

In [ ]:
def double(x):
    return x * 2

print(double(10))

In [ ]:
triple = lambda x : x * 3
print(triple(10))

In [ ]:
data = [10, 2, 30, 4, 5]
print(map(double, data))
print(list(map(double, data)))
print(list(map(lambda x : x * 5, data)))
print([x * 5 for x in data])

In [ ]:
print(filter(lambda x : x < 10, data))
print(list(filter(lambda x : x < 10, data)))
print([x for x in data if x < 10])

In [ ]:
print(sorted(data))
print(sorted(data, reverse=True))
print(sorted(data, key=lambda x : (x % 2, x)))

## LAB: ## 
### Given the list of names below, sort them on the length of the name so the shortest names are first
### Try to sort them alphabetically regardless of case
<br>
<details><summary>Click for <b>hint</b></summary>
<p>
Create a lambda function using the built in len function
<br>
Create a lambda function using a method built into strings that can ignore the case
<br>
<br>
</p>
</details>

<details><summary>Click for <b>code</b></summary>
<p>

```python
print(sorted(names))
print(sorted(names, key = lambda x : len(x)))
print(sorted(names, key = lambda x : x.upper()))
```
</p>
</details>

In [ ]:
names = ['bob', 'Linda', 'Adam', 'betty']

## HOMEWORK: ## 
### Given the list of names below, print out all the names in alphabetical order
### Print just the male students showing their names and ages as a tuple, in alphabetical order
<br>
<details><summary>Click for <b>hint</b></summary>
<p>
The for clause will return each element of the list, each element is a single dictionary object
<br>
Use the keys to fetch the dictionary values you want for each element
<br>
To return a tuple, wrap multiple values in parentheses 
<br>
Use an if clause and the value of a key to return only the male students
<br>
<br>
</p>
</details>

In [ ]:
students = [
    {'id':1, 'name':'Zack', 'gender':'M', 'age':15},
    {'id':2, 'name':'Yamila', 'gender':'F', 'age':14},
    {'id':3, 'name':'Xavier', 'gender':'M', 'age': 14},
    {'id':4, 'name':'Wendy', 'gender':'F', 'age':15},
    {'id':5, 'name':'Victor', 'gender':'M', 'age':15}
]